<!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/IMG_20170206_133959.jpg" class="d-block w-100" alt="1">
      </div>
      <div class="carousel-item">
        <img src="assets/images/IMG_20170130_125943.jpg" class="d-block w-100" alt="2">
      </div>
      <div class="carousel-item">
        <img src="assets/images/IMG_20170217_151150.jpg" class="d-block w-100" alt="3">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </a>
  </div>-->


  <!-- <!DOCTYPE HTML> -->
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

	<body class="is-preload">

		<!-- Header -->
			<!-- <header id="header">
				<a class="logo" href="index.html">Traffic Analysis</a> -->
				<!-- <nav class="link">
					<a href="#menu">Menu
						<div class="topnav" id="menu">
							<div id="myLinks">
								
								<a href="#news">News</a>
								<a href="#contact">Contact</a>
								<a href="#about">About</a>
							
							  </div>
							  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
								<i class="fa fa-bars"></i>
							  </a>
					</div>
					</a>
					
				</nav>
			</header> -->
		<!-- Nav -->

		<header id="header">
			<a class="logo" href="index.html">Industrious</a>
			<nav>
				<a href="#menu" onclick="myFunction()">Menu</a>
			</nav>
		</header>

	<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Home</a></li>
				<li><a href="elements.html">Elements</a></li>
				<li><a href="generic.html">Generic</a></li>
			</ul>
		</nav>
		

		<!-- Banner -->
			<section  >
				<div class="inner">
					<h1>Traffic</h1>
					<p>To determine the location of key nodes, the routing structure, and even application behavior patterns</p>
                </div>
                <!-- <button onclick="enableAutoplay()" type="button">Enable autoplay</button> -->
				<!-- <video id="myVideo" width="1400" height="1000" controls="controls"> -->

					<!-- autoplay a video -->
					<video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
                    <source src="assets/images/banner.mp4" type="video/mp4">
                </video>
                <p id="demo"></p>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="row">
					<div class="col-4" >
				<div class="card" style="width: 18rem;" >
					<img src="assets/images/banner.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <p class="card-text">Sample Text 1</p>
					</div>
				  </div>
				</div>

				  <div class="col-4">
				  <div class="card" style="width: 18rem;">
					<img src="assets/images/banner.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <p class="card-text">Sample Text 2</p>
					</div>
				  </div>
				</div>
				   
				  <div class="col-4">
				  <div class="card" style="width: 18rem;">
					<img src="assets/images/banner.jpg" class="card-img-top" alt="...">
					<div class="card-body">
					  <p class="card-text">Sample Text 3</p>
					</div>
				  </div>
				</div>
				</div>
			</section>

		<!-- CTA -->
			<section >
				<div class="row">

					<div class="col-lg-6">
					  <h1 class="big-heading">Meet new and interesting dogs nearby.</h1>
					  <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
					  <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
					</div>
			
					<div class="col-lg-6">
					  <img class="title-image" src="assets/images/banner.jpg" alt="iphone-mockup">
					</div>
			
				  </div>
			
				
			</section>

			<section class="colored-section" id="testimonials">

				<div id="testimonial-carousel" class="carousel slide" data-ride="false">
				  <div class="carousel-inner">
					<div class="carousel-item active container-fluid">
					  <h2 class="testimonial-text">I no longer have to sniff other dogs for love. I've found the hottest Corgi on TinDog. Woof.</h2>
					  <img class="testimonial-image" src="assets/images/banner.jpg" alt="dog-profile">
					  <em>Pebbles, New York</em>
					</div>
					<div class="carousel-item container-fluid">
					  <h2 class="testimonial-text">My dog used to be so lonely, but with TinDog's help, they've found the love of their life. I think.</h2>
					  <img class="testimonial-image" src="assets/images/banner.jpg" alt="lady-profile">
					  <em>Beverly, Illinois</em>
					</div>
				  </div>
				  <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
				  </a>
				  <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon"></span>
				  </a>
				</div>
			
			  </section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Faucibus consequat lorem</h2>
						<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic01.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic03.jpg" alt="" />
									</div>
									<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="images/pic02.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Accumsan montes viverra</h3>
							<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
						</section>
						<section>
							<h4>Sem turpis amet semper</h4>
							<ul class="alt">
								<li><a href="#">Dolor pulvinar sed etiam.</a></li>
								<li><a href="#">Etiam vel lorem sed amet.</a></li>
								<li><a href="#">Felis enim feugiat viverra.</a></li>
								<li><a href="#">Dolor pulvinar magna etiam.</a></li>
							</ul>
						</section>
						<section>
							<h4>Magna sed ipsum</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			

	</body>

	

